@model IEnumerable<EmployeeManagement.Models.Employee>

@{
    ViewData["Title"] = "Details";
}

<h3>@ViewData["Department"] Department User Details</h3>
  
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Code)
            </td>
            <td>
                <a asp-action="EmpEdit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="EmpDelete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index">Back to List</a>

